<!DOCTYPE html>
<html>
<head>
    <title>test image page</title>
</head>
<body>
    {% if messages %}
        {% for message in messages %}
            <p>{{message}}</p>
        {% endfor %}
    {% endif %}

    <form action="{% url 'cphh:upload' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
            <input type="text" name="pet_name">
            <input id="id_image" type="file" class="" name="image">
            
        <input type="submit" value="Submit" />
    </form>

    {% for i in img %}
        <img src="{{media_url}}{{ i.model_pic }}">
    {% endfor %}
</body>
</html>